
<button class="btn btn-primary"(click)="goBack()">Go back to devices</button>
<div cl *ngIf="device">
  <p>
    Id: {{device.deviceId}}
  </p>
  <p>
    Name: {{device.name}}
  </p>
  <p>
    Description: {{device.description}}
  </p>
  <button class="btn btn-primary" (click)="deleteDevice(device.id)">Delete</button>
</div>
<p>Received measurements</p>
<div class="realtimeChart">
  <canvas id="chart"></canvas>
</div>

<div class="saved-data">
   <dx-data-grid
    id="grid-container"
    [dataSource]="receivedMeasurements"
    [showBorders]="true">
    <dxi-column dataField="dtSent" dataType="datetime" format="yyyy-dd-MM HH:mm:s" caption="Sent date"></dxi-column>
    <dxi-column dataField="type" dataType="string" caption="Type"></dxi-column>
    <dxi-column dataField="value" dataType="string" caption="Value"></dxi-column>
    <dxi-column dataField="dtReceived" dataType="datetime" format="yyyy-dd-MM HH:mm:ss" caption="Received date"></dxi-column>
  </dx-data-grid>
</div>



