
<button class="btn btn-primary"(click)="goBack()">Go back to devices</button>
<div cl *ngIf="device">
  <p>
    Id: {{device.deviceId}}
  </p>
  <p>
    Name: {{device.name}}
  </p>
  <p>
    Description: {{device.description}}
  </p>
  <button class="btn btn-primary" (click)="deleteDevice(device.id)">Delete</button>
</div>
<p>Received measurements</p>
<div class="realtimeChart">
  <canvas id="chart"></canvas>
</div>

<div class="saved-data">
  <!-- <table>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let telemetry of savedTelemetry">
      </tr>
    </tbody>
  </table> -->
</div>



