version: '3.4'

services:
  smarthub.api:
    image: ${DOCKER_REGISTRY-}smarthubapi
    build:
      context: .
      dockerfile: src/Devices/SmartHub.Devices/Dockerfile
  smarthub.edge:
    image: ${DOCKER_REGISTRY-}smarthubedge
    build:
      context: .
      dockerfile: src/Edge/SmartHub.Edge/Dockerfile
  smarthub.notificationservice:
    image: ${DOCKER_REGISTRY-}smarthubnotificationservice
    build:
      context: .
      dockerfile: src/NotificationService/SmartHub.NotificationService/Dockerfile
  smarthub.spa:
    image: ${DOCKER_REGISTRY-}smarthubspa
    build:
      context: .
      dockerfile: src/Spa/SmartHub.SPA/Dockerfile
  smarthub.identity:
    image: ${DOCKER_REGISTRY-}smarthubidentity
    build:
      context: .
      dockerfile: src/Identity/SmartHub.Identity/Dockerfile
  postgres:
    image: 'postgres:latest'
  redis:
    image: 'redis:latest'
  seq:
    image: 'datalust/seq:latest'
  rabbitmq:
    image: 'rabbitmq:latest'