version: '3.4'

services:
  smarthub.api:
    image: ${DOCKER_REGISTRY-}smarthubapi
    build:
      context: .
      dockerfile: src/Api/SmartHub.Api/Dockerfile
  smarthub.edge:
    image: ${DOCKER_REGISTRY-}smarthubedge
    build:
      context: .
      dockerfile: src/Edge/SmartHub.Edge/Dockerfile
  smarthub.saverservice:
    image: ${DOCKER_REGISTRY-}smarthubsaverservice
    build:
      context: .
      dockerfile: src/SaverService/SmartHub.SaverService/Dockerfile
    restart: on-failure
  smarthub.notificationservice:
    image: ${DOCKER_REGISTRY-}smarthubnotificationservice
    build:
      context: .
      dockerfile: src/NotificationService/SmartHub.NotificationService/Dockerfile
  smarthub.spa:
    image: ${DOCKER_REGISTRY-}smarthubspa
    build:
      context: .
      dockerfile: src/Spa/SmartHub.SPA/Dockerfile
  zookeeper:
    image: 'bitnami/zookeeper:latest'
    ports:
      - '2181:2181'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
  kafka:
    image: 'wurstmeister/kafka:latest'
    ports:
      - '9092:9092'
    environment:
     - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
     - ALLOW_PLAINTEXT_LISTENER=yes,
     - KAFKA_CREATE_TOPICS=telemetry:1:1
     - KAFKA_ADVERTISED_HOST_NAME=kafka
  postgres:
    image: 'postgres:latest'
  redis:
    image: 'redis:latest'